body {
  background-color: #33353a;
  color: white;
}

#regWrapper {
  margin-top: 8rem;
  padding: 3rem;
  background-color: #33353a;
}

#navName {
  color: white;
  text-align: left;
  font-weight: bolder;
}
.close {
  background-color: orange;
  border: none;
  border-radius: 50%;
  color: red;
  text-align: center;
  font-weight: bolder;
}
.dropdown-item:hover {
  background-color: orange;
}
[aria-current] {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #f85b1a;
  text-decoration-thickness: 0.3em;
}
#logout {
  font-weight: bold;
}
nav {
  background-color: #072083;
}

.modal-content {
  background-color: #3a3d42;
  color: black;
}

.dropdown-item {
  color: #f85b1a;
}

#passReqs {
  width: 18rem;
  background-color: #4e4848;
}
